.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-family: sans-serif;
}

.btn-primary {
  background-color: #d39e00 !important;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.button {
  background-color: #feae00 !important;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.header {
  /* box-shadow: 3px 3px 5px 6px rgb(158, 155, 155); */
  background-color: #feae00;
}

@keyframes popping {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}
.form_add_user input {
  color: rgb(0, 0, 114) !important;
  font-weight: bold !important;
}
.form_add_user input::placeholder {
  color: rgb(178, 178, 178);
  font-weight: lighter !important;
}

.Jumbotron {
  margin: auto;
  margin-top: 4rem;
  background-image: url(https://1.bp.blogspot.com/-eDWXkSEHbgY/YKv5YQZ8rKI/AAAAAAAAkF4/aBuH5E3pVeoIKcoHwBRY8QIcI8b8Dqd6wCLcBGAsYHQ/s0/Full-Moon-Carousal.jpg);
  background-position: center;
  background-size: cover;
  font-weight: bold;
  border-radius: 5px;
  animation-name: popping;
  font-family: sans-serif;
  animation-duration: 5s;
  transform: scale(2);
  transition: transform 2s ease;

  animation-iteration-count: infinite;
  width: 1000px;
  height: 500px;
}

.Jumbotron:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 5px 0px rgb(158, 155, 155);
}

.jumbo_transform {
  background-color: #feae0044;
  margin-top: 290px;
  padding: 40px;
  transform: scale(1);
  transition: transform 0.5s;
  color: #65656a;
}

.button_transform {
  transform: scale(1);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.253) !important;
}

.button_transform:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.8) !important;
}

.jumbo_transform:hover {
  transform: scale(1.07);
  background-color: #ffffffe4;
  font-weight: bold;
  color: black;
}

#mytextnewuser {
  padding-left: 5%;
  text-align: left;
}

/*manipulae the container and not the cards to change their width*/
.cards_together {
  margin-top: 30px;
  padding: 50px 120px;
}

.individual_card {
  padding-bottom: 20px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.453) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.4);
}

.inputclass {
  width: 40%;
}

.inputlabel {
  margin: auto;
  padding: 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.inputradio {
  margin: auto;
  cursor: pointer;
  font-size: 16px;
}

.form_add_user input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.form_add_user input,
.form_add_user label {
  cursor: pointer;
}
.form_add_user label {
  user-select: none;
}

#inputtext {
  box-shadow: none;
  font-size: 16px;
}

#mybutton {
  background-color: #feae00;
  font-size: 18px;
  color: aliceblue;
}

#mylink {
  font-size: 18px;
}

#mylogo {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

#mytextjambo {
  font-size: 16px;
}

#mytexth5 {
  font-size: 20px;
}

#mytable {
  width: 50%;
}

#mytable tr:hover {
  background-color: #abf0ff;
}

#mytexth2 {
  font-size: 36px;
  padding: 10px 0;
}

#feedbackstyletext {
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#feedbackstylebutton {
  width: 25%;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (max-width: 1200px) {
  .Jumbotron {
    margin-top: 4rem;
    width: 85%;
  }
  .cards_together {
    width: 100%;
    margin-top: 60px;
    padding: 10px;
  }
  .jumbo_transform {
    background-color: #ffffffc4;
  }
  .inputclass {
    width: 60%;
  }
  .inputlabel {
    padding: 0 5px;
    font-size: 16px;
  }
  .inputradio {
    font-size: 16px;
  }
  #inputtext {
    font-size: 14px;
  }
  #mybutton {
    font-size: 16px;
  }
  #mylink {
    font-size: 16px;
  }
  #mytexth5 {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .Jumbotron {
    margin-top: 4rem;
    width: 95%;
  }
  .inputclass {
    width: 95%;
  }
  #mytextjambo {
    font-size: 12px;
  }
  .jumbo_transform {
    font-size: 20px;
  }
  #mytable {
    width: 90%;
  }
  #mytextnewuser {
    padding-left: 2%;
  }
  #mytexth2 {
    font-size: 24px;
  }
}
/*footer*/
footer ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #feae00;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
footer a:hover {
  text-decoration: underline;
  color: white;
}
.ft-title {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
  text-align: left;
}
/* Footer main  */
footer Form {
  display: flex;
  flex-wrap: wrap;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.2rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #040e40;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list {
  display: flex;
  justify-content: space-between;
}
/*social media buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

/**Form Password Forget two**/

/* .newPassword{

} */

/**ORDER OPTIONS**/

.orderContainer {
  border: 2px solid black;
  text-align: center;
  padding: 0 25px;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.orderContainer p {
  margin-bottom: 0;
  font-size: 16px;
}

.orderOptions {
  list-style: none;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  width: 200px;
}

.orderOptions li {
  margin: 0;
  display: block;
  padding: 10px;
  border-bottom: 2px solid grey;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
  background-color: white;
  color: black;
}

.orderOptions li:hover {
  background-color: #feae00;
  color: white;
}

.orderOptions li:last-child {
  border: 0;
}

.delete-order {
  background-color: rgb(255, 87, 87) !important;
  color: white !important;
}

/**PAGINATION**/

.containerBtnPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.containerBtnPage > * {
  margin: 0;
}

.containerBtnPage p {
  margin: 0 20px;
  font-size: 25px;
}

.containerBtnPage__btn {
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #feae00;
}

.containerBtnPage > * {
  font-weight: bold;
}

.formSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.formSearch > label {
  width: 40px;
  height: 40px;
  background-color: #d39e00;
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid black;
  margin: 0;
  cursor: pointer;
  transition: 0.2s all ease;
}

.formSearch > label:hover {
  background-color: #feae00;
}

/**MODAL FILTER**/

body {
  position: relative;
}

.modalFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.453);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.formFilters {
  width: 50%;
  margin: 0 auto;
}

.formFilters select {
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  flex-basis: calc(70% - 10px);
  text-transform: capitalize;
}

.formFilters option {
  text-transform: capitalize;
  color: 'black';
}

.formFilters label {
  flex-basis: calc(30% - 10px);
}

/** NOT PERMISIONS **/

.not_permisions {
  height: 64vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 0;
}

.not_permisions_link {
  color: #d39e00;
  transition: all 0.2s ease;
  cursor: pointer;
}

.not_permisions_link:hover {
  text-decoration: underline;
}

/**LOADER **/

.lds-ring {
  display: inline-block !important;
  position: relative !important;
  width: 60px !important;
  height: 60px !important;
}
.lds-ring div {
  box-sizing: border-box !important;
  display: block !important;
  position: absolute !important;
  width: 80px !important;
  height: 80px !important;
  border: 8px solid #feae00 !important;
  border-radius: 50% !important;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite !important;
  border-color: #feae00 transparent transparent transparent !important;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-order {
  width: 80px;
  height: 80px;
}
.loader-order div {
  width: 80px;
  height: 80px;
  margin: 4px;
  border: 4px solid #d39e00;
  border-color: #d39e00 transparent transparent transparent;
}

.loader_container {
  text-align: center;
}

.loader_container p {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/**IMAGE LANGUAJE**/

.img-lang {
  width: 80px;
  height: 40px;
  border-radius: 2.5px;
}

/**MULTIPLE OPTIONS**/

.multiple-options {
  background-color: rgba(0, 0, 0, 0.73);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.multiple-options__options {
  background-color: white;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
